<div>
    <div>
        <button class="btn btn-primary">
            <span class="text-black"><i class="fa fa-plus"></i></span> <span class="text-white p-3">New</span>
        </button>
        <button class="btn btn-primary">
            <span class="text-black"><i class="fa fa-share"></i></span> <span class="text-white p-3">Export</span>
        </button>
    </div>
    <br>
    <div class="input-group mb-3 oval-input-group">
        <input type="text" class="form-control" placeholder="Enter shared key" aria-label="Enter shared key"
            aria-describedby="button-search">
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" id="button-search" (click)="getClient()">Search</button>
        </div>
    </div>
    <!-- <div class="text-center mt-5 d-inline">
        <button class="btn btn-primary rounded-border">Advanced Search</button>
    </div> -->
</div>