<div>
    <div>
        <button class="btn btn-primary">
            <span class="text-black"><i class="fa fa-plus"></i></span> <span class="text-white p-3">New</span>
        </button>
        <button class="btn btn-primary">
            <span class="text-black"><i class="fa fa-share"></i></span> <span class="text-white p-3">Export</span>
        </button>
    </div>
    <br>
    <div class="row">
        <div class="col-7 col-md-7 col-xs-4">
            <div class="input-group mb-3 oval-input-group">
                <input type="text" class="form-control" #clientSearchInput placeholder="Enter shared key"
                    aria-label="Enter shared key" aria-describedby="button-search">
                <div class="input-group-append">
                    <button class="btn" type="button" id="button-search"
                        (click)="searchClient(clientSearchInput.value)">Search</button>
                </div>
            </div>
        </div>
        <div class="col-5 col-md-5 col-xs-8">
            <div class="text-center mt-5 d-inline">
                <button class="btn btn-primary rounded-border button_advanced_search">Advanced Search</button>
            </div>
        </div>
    </div>
</div>