<div>
    <div>
        <img class="client_icon" src="../../assets/images/client_edit.png" alt="" width="40px" height="40px">
        <h4 class="fs-4 mt-4 d-inline-block">Clients</h4>
    </div>
    <br>
    <ul class="list-unstyled fw-bold fs-6 mt-2">
        <li class="mb-3"><a href="/clients" class="text-decoration-none text-reset">Clients</a></li>
        <li class="mb-3"><a href="#" class="text-decoration-none text-reset">Client look history</a></li>
        <li class="mb-3"><a href="#" class="text-decoration-none text-reset">Emergency PIN configuration</a></li>
        <li class="mb-3"><a href="#" class="text-decoration-none text-reset">Emergency PIN history</a></li>
    </ul>
</div>